*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    overflow-x: hidden;
    width: 100vw;
}

@import "header";
@import "index";
@import "footer";
@import "servicios";
@import "nosotros";
@import "ubicacion";
@import "contacto";


@media only screen and (min-width: 480px){
    form {
      max-width: 400px;
      margin: 0 auto;
    }
}

@media screen and (max-width:800px){
    .footer .group-1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 1rem;
        overflow-x: hidden;
    }
}

@media(max-width:636px){
    
    .fondo-menu-desplegable.abierto{
        background-color: #0d2033;
        height: 200vw;
        width: 8.5em;
        display: block;
        position: absolute;
        right: 0;
        
    }
    .nav.abierto{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10em;
        text-align: center;
        font-size: 0.9em;
        
    }
    .nav{
        display: none;
    }
    .boton-menu-cerrar{
        display: none;
        z-index: 999;

    }
    .boton-menu-abrir{
        display: inline-block;
        z-index: 999;
    }
}

@media screen and (max-width: 600px){
    
    
    .card-blog{
        width: 100%;

    }
    .footer .group-1 .box-2 p{
        font-size: 0.5em;
    }
    .footer .group-1 .box-2 h2{
        color: #fff;
        margin-bottom: 25px;
            font-size: 1em;
            text-align: center;
    }
    .footer .group-1 .box-3 h2{
        color: #fff;
        margin-bottom: 25px;
            font-size: 1em;
            text-align: center;
    }
    .footer .group-1 .box-1 figure img{
        width: 90px;
        height: 90px;
    }

}